In [7]:
# strings
'abcdefghi'
"zyx"
my_string = "this is Toby's notebook"
len(my_string)

23

In [8]:
my_string[0]

't'

In [9]:
my_string[-1]

'k'

In [10]:
my_string[4:16]

" is Toby's n"

In [11]:
for letter in my_string:
    print(letter)

t
h
i
s

i
s

T
o
b
y
'
s

n
o
t
e
b
o
o
k

In [12]:
my_string.lower()

"this is toby's notebook"

In [14]:
my_string

"this is Toby's notebook"

In [15]:
'a' + 'b'

'ab'

In [16]:
my_string + '.'

"this is Toby's notebook."

In [18]:
my_string

"this is Toby's notebook"

In [19]:
upper_string = my_string.upper()

In [20]:
upper_string

"THIS IS TOBY'S NOTEBOOK"

In [21]:
my_string = my_string.title()

In [22]:
my_string

"This Is Toby'S Notebook"

In [23]:
# lists
my_list = ['blue', 'green', 'yellow', 'purple', 10, 11, 3.14, ['red', 'orange']]

In [24]:
my_list[0]

'blue'

In [25]:
my_list[-2]

3.14

In [26]:
second_list = my_list[-1]
second_list[1]

'orange'

In [27]:
my_list[-1][1]

'orange'

In [28]:
my_list.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [29]:
list_of_floats = [0.1, 3.2, 2.9, 8.7]

In [30]:
list_of_floats.sort()

In [31]:
list_of_floats

[0.1, 2.9, 3.2, 8.7]

In [32]:
# dictionaries
shopping = ['bike', 'chair', 'lawnmower']
amounts = [3, 7, 8]

In [33]:
my_dictionary = {'bike': 3,
                 'chair' : 7,
                 'lawnmower': 8}

In [35]:
my_dictionary[0]

KeyError: 0

In [36]:
my_dictionary['lawnmower']

8

In [37]:
my_dictionary['sunhat']

KeyError: 'sunhat'

In [38]:
my_dictionary['sunhat'] = 2

In [39]:
my_dictionary

{'bike': 3, 'chair': 7, 'lawnmower': 8, 'sunhat': 2}

In [40]:
second_dictionary = {}
# second_dictionary = dict()

In [41]:
for k, v in some_processed_input:
    second_dictionary[k] = v

NameError: name 'some_processed_input' is not defined

In [43]:
third_dictionary = {'one': [1, 2, 3],
                    'two': [4, 5, 6],
                    'three': [7, 8, 9]}

In [ ]:
locations = {}
for p, long, lat in some_processed_input:
    locations[p] = (long, lat)

locations['rainbow camping'][0]

In [44]:
# tuples
my_tuple = ('one', 2, 3.0)

In [45]:
my_tuple.append('four')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# type conversions

In [ ]:
# str -> int

In [ ]:
# str -> list